<div class="w-full">
  <div class="flex justify-between items-center">
    <h1>Profiles</h1>
    <%= link_to "New profile", new_profile_path, class: "button-large" %>
  </div>

  <div id="profiles" class="min-w-full">
    <%= render @profiles %>
  </div>
</div>
