<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">

    <%= render @profile %>

    <%= link_to "Edit this profile", edit_profile_path(@profile), class: "button-edit" %>
  </div>
</div>
