<div class="mx-auto md:w-2/3 w-full">
  <h1>Editing city</h1>

  <%= render "form", city: @city %>

  <%= link_to "Show this city", @city, class: "button-back" %>
  <%= link_to "Back to cities", cities_path, class: "button-back" %>
</div>
